# Configuration FastAPI
SECRET_KEY=une_cle_secrete_tres_longue_et_aleatoire_a_changer_en_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Base de données (SQLite selon CDC)
DATABASE_URL=sqlite:///./bananaguard.db

# IA
MODEL_PATH=../ai_model/model/bananaguard_model.h5
CLASSES_PATH=../ai_model/model/bananaguard_classes_fr.json
